* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f3f6;
}

.topbar {
  background-color: #0d6efd;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.user-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.user-nav :hover{
  color: rgb(167, 149, 149);
}

.topbar h1 {
  margin: 0;
  font-size: 22px;
}

.topbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.title {
  text-align: center;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 40px;
}

.vaga-card {
  background-color: #e7e7e7;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.vaga-card:hover {
    transform: scale(1.01);
    z-index: 1;
    transition: linear;
}

.vaga-card h3 {
  margin-top: 0;
  color: #0077cc;
}

.vaga-card p {
  margin: 6px 0;
  color: #333;
}

.vaga-card a {
  display: inline-block;
  margin-top: 10px;
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.vaga-card a:hover {
  text-decoration: underline;
}

.btn-remover{
  background-color: #dc3545;
  color: white;
  margin-top: 20px;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-remover:hover{
  background-color: #e24b5a;
  color: #ddd7d7;
}